*.iml
.gradle
/local.properties
/.idea
/.vscode
**/bin**
/.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
kls_database.db
.idea/git_toolbox_blame.xml
.idea/git_toolbox_prj.xml
/.kotlin/
/.idea/
